body {
    font-family: monospace;
    background-color: #e2fffd;
}

h1 {
    text-transform: uppercase;
    color: white;
    background-color: darkslategrey;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

#box {
    width: 330px;
    height: 240px;
    background-color: #ffffff;
    margin: 100px auto;
    border: 1px solid black;
    display: flex;
/*     flex-direction: row-reverse; */
/*     flex-direction: column-reverse; */
    flex-direction: column;
/*     flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
    /*flex-wrap: wrap;*/
}

#box div {
    border-radius: 50%;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

#ball1 {
    height: 30px;
    width: 30px;
    background-color: #ff9bc9;
    order: 1;
}

#ball2 {
    height: 40px;
    width: 40px;
    background-color: #df8eff;
    order:6;
}

#ball3 {
    height: 50px;
    width: 50px;
    background-color: #91dcff;
    order: 3;
}

#ball4 {
    height: 60px;
    width: 60px;
    background-color: #93ff99;
    order: 5;
}

#ball5 {
    height: 70px;
    width: 70px;
    background-color: #dfff89;
    order: 2;
}

#ball6 {
    height: 80px;
    width: 80px;
    background-color: #ffdf8e;
    order: 4;
}



/*justify content*/
#box1, #box2 {
    width: 330px;
    height: 240px;
    background-color: #ffffff;
    margin: 100px auto;
    border: 1px solid black;
    display: flex;
}

#box1 div, #box2 div {
    border-radius: 50%;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

#ball1jc{
    height: 30px;
    width: 30px;
    background-color: #ff9bc9;
}

#ball2jc{
    height: 40px;
    width: 40px;
    background-color: #df8eff;
}

#ball3jc{
    height: 50px;
    width: 50px;
    background-color: #91dcff;
}

#ball4jc{
    height: 60px;
    width: 60px;
    background-color: #93ff99;
}

#ball5jc{
    height: 70px;
    width: 70px;
    background-color: #dfff89;
}

#ball6jc{
    height: 80px;
    width: 80px;
    background-color: #ffdf8e;
}

/*Example of Justify Content*/

/* #box1{
    justify-content: space-between;
} */
/* #box2{
    flex-direction: column-reverse;
    justify-content: center;
} */
/*#box1{
    flex-direction: row-reverse;
    justify-content: flex-end;
}*/
/*#box2{
    flex-direction: column;
    justify-content: space-around;
}*/


/*Example of Justify content and align items*/

#box1 {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}

#box2 {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}