#FirstLetterEx::first-letter{
	font-size: 2rem;
	font-weight: bold;
	text-transform: capitalize;
}

#FirstLineEx::first-line{
	font-size: 2rem;
	font-weight: bold;
	text-transform: capitalize;
}

#BeforeEx::before{
	content: "Before";
	font-size: 2rem;
	font-weight: bold;
	text-transform: capitalize;
	background-color: aliceblue;
}

#AfterEx::after{
	content: "After";
	font-size: 2rem;
	font-weight: bold;
	text-transform: capitalize;
	background-color: aqua;
}

p{
	background-color: blanchedalmond;
}

#BeforeExicon::before{
	content: "";
	height: 20px;
	width: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url("https://png.pngtree.com/png-clipart/20220620/ourmid/pngtree-arrow-shape-red-simple-direction-png-image_5215909.png");
	font-size: 2rem;
	font-weight: bold;
	text-transform: capitalize;
}

#AfterExicon::after{
	content: "";
	height: 20px;
	width: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url("https://png.pngtree.com/png-clipart/20220620/ourmid/pngtree-arrow-shape-red-simple-direction-png-image_5215909.png");
	font-size: 2rem;
	font-weight: bold;
	text-transform: capitalize;
}