div{
	height: 100px;
	width: 100px;
	position: absolute;
	top: 20%;
	left: 20%;
	background-color: papayawhip;
	transform: rotate(45deg);
	/*transform: rotate(-45deg);*/
	/*transform: rotateX(45deg);*/
	/*transform: rotateY(-45deg);*/
	/*transform: scale(2.0);*/
	/*transform: translate(100px);*/
	/*transform: translateX(200px);*/
	transform: translateY(10%,100px);

	/*transition: 1s ease-in-out;*/
	/*transition: 1s ease-in-out 0.5s;*/
	transition: height 1s ease-in-out 0.5s;
}

div:hover{
	height: 200px;
	width: 200px;
}