@keyframes changeShape{
	from{
		border-radius: 0%;
	}
	25%{
		border-radius: 10%;
	}
	50%{
		border-radius: 25%;
	}
	75%{
		border-radius: 40%;
	}
	to{
		border-radius: 50%;
	}
}

#div1{
	height: 100px;
	width: 100px;
	background-color: powderblue;
	top: 10%;
	left: 20%;
	position: absolute;
	transition: 1s ease-in-out;
	transition: 1s steps(10, end);
}

#div1:hover{
	transform: scale(1.5) translate(150px);
}

#div2{
	height: 200px;
	width: 200px;
	background-color: darkmagenta;
	top: 30%;
	left: 20%;
	position: absolute;
	animation: changeShape 1s cubic-bezier(0.0, 0.0, 1.0, 1.0) infinite alternate;
}

@keyframes bounce{
    from{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-200px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0px);
    }
}

#div3{
  height: 100px;
  width: 100px;
  position: relative;
  top: 50%;
  left: 20%;
  position: absolute;
  background-color: aqua;
 }

#div3:hover{
    animation: 1s bounce 1;
}

@keyframes fadeIn{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

#div4{
  height: 40px;
  width: 250px;
  position: absolute;
  top: 70%;
  left: 20%;
  font-size: 30px;
  border: solid black;
  border-width: 3px 0px 3px 0px;
  text-align: center;
  padding: 5px;
}

#div4:hover{
    animation: 3s fadeIn;
}


@keyframes changeShape1{
	from{
		border-radius: 0%;
	}
	25%{
		border-radius: 10%;
	}
	50%{
		border-radius: 25%;
	}
	75%{
		border-radius: 40%;
	}
	to{
		border-radius: 50%;
	}
}

@keyframes rotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes reduceSize{
	from{
		height: 200px;
		width: 200px;
	}
	to{
		height: 100px;
		width: 100px;
	}
}

#div5{
	height: 100px;
	width: 100px;
	background-color: rosybrown;
	top: 80%;
	left: 50%;
	position: absolute;
	animation: changeShape1, rotate, reduceSize;
	animation-duration: 1s, 1s, 1s;
	animation-iteration-count: infinite, infinite, infinite;
	animation-direction: alternate, alternate, alternate;
	margin-bottom: 1000px;
}

#div6{
	height: 100px;
	width: 100px;
	background-color: darkgoldenrod;
	top: 90%;
	left: 20%;
	position: absolute;
}

.animate__animated.animate__fadeIn{
  animate-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}