.cube{
	height: 200px;
	width: 200px;
	position: relative;
	margin: 100px;
	transform-style: preserve-3d;
	perspective: 1000px;
}


.face{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 20%;
	left: 20%;
	transition: all 1s;
}

.one{
	background-color: cadetblue;
}

.two{
	background-color: orange;
	transform: rotateY(90deg) translateZ(-100px) translateX(-100px);
}

.three{
	background-color: yellow;
	transform: rotateY(-90deg) translateZ(-100px) translateX(100px);
}

.four{
	background-color: indianred;
	transform: rotateX(90deg) translateY(100px) translateZ(100px);
}

.five{
	background-color: springgreen;
	transform: rotateX(90deg) translateZ(-100px) translateY(100px);
}

.six{
	background-color: burlywood;
	transform: translateZ(200px);
}

.one:hover{
	transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
}

.cube.one{
	transform: translateZ(-100px) rotateY(0deg); 
}
.cube.two{
	transform: translateZ(-100px) rotateY( -90deg);
}
.cube.three{
	transform: translateZ(-100px) rotateY(-180deg);
}
.cube.four{
	transform: translateZ(-100px) rotateY(  90deg);
}
.cube.five{
	transform: translateZ(-100px) rotateX( -90deg);
}
.cube.six{
	transform: translateZ(-100px) rotateX(  90deg);
}

.cube{
	transition: transform 1s;
}