body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; 
  background-image: url('https://c4.wallpaperflare.com/wallpaper/193/487/615/tent-camping-milky-way-reflection-wallpaper-preview.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: cursive;
  color: darkorange;
}
.todo-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
}
h1 {
  margin-bottom: 20px;
  color: darkorange;
  font-size: 50px;
  font-family: cursive;
}
.add-task input[type="text"],
.add-task input[type="datetime-local"] {
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  font-family: cursive;
}
.add-task button {
  padding: 5px 10px;
  background-color: bisque;
  border-radius: 5px;
  font-family: cursive;
}
.filter-tasks {
  margin-top: 10px;
  border-radius: 5px;
  font-family: cursive;
  font-size: 25px;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  color:#5e3131;
  background-color: blanchedalmond;
  border-radius: 10px;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

.task-actions button {
  margin-left: 10px;
}
