body{
    margin-left: 60px;
    margin-right: 20px;
}
#main-header{
    height: 550px;
    margin-top: 60px;
}
h1 {
    font-size: 40px;
    color: darkslategrey;   
}

p {
    color: dimgrey;
}
p{
    font-size: 1.1rem;
    word-spacing: 1px;
    line-height: 1.4;
}
/*#blog-content{
    width:1000px;
}*/
.uppercases{
    text-transform: uppercase;
}
.fontstyles{
    font-family: cursive;
}
#about-site{
    color: grey;
}
h4.h-style{
    color: darkslategrey;
    font-family: monospace;
    font-size: 18px;
}

h1.h-style{
    font-family: sans-serif;
}
#site-title a{
    /*font-size: 28px;*/
    /*text-decoration: underline;*/
    color: black;
}
#site-title a:hover{
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}

/*-----header-----*/
#site-title a {
    font-size: 1.8rem;
    color: #1a1a1a;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    line-height: 1.25;
}
/*-----main-----*/
#blog-header h1 {
    color: #13222c;
    font-family: sans-serif;
    font-size: 3.2rem;
}

#blog-content {
    /*width: 90vw;*/
    width: 90%;
    font-size: 1.1rem;
    word-spacing: 1px;
    line-height: 1.4;
}

.h-style {
    color: #13222c;
}
img{
    width: 100%;
}
#logo{
    width: 210px;
    margin-top: 50px;
}
#mains{
    border-width: 5px 5px 5px 0px;
    border-style: dashed;
    border-color: #ff6060;
    border-radius: 50px;
}
.sources li a{
    text-decoration: none;
}
.sources li a:hover{
    color: #000000;
}
#site-title{
    margin-bottom: 0px;
}

main {
    width: 70%;
    display: inline-block;
}

/*-----aside-----*/

aside {
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
    width: 25%;
}

.widget {
    border-top: 4px solid black;
    line-height: 1.6;
    font-size: 1.1rem;
}

.widget a {
    color: #dc6520;
}

.widget a:hover {
    color: #1a1a1a;
}

.widget .widget-title {
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
    word-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 900;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 4px 10px;
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    color: #686868;
    display: block;
    line-height: 1.6;
    font-size: 1.05rem;
    color: #000000;
}

button[type="submit"] {
    background-color: #1a1a1a;
    font-size: 0.9rem;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 0.1rem;
    line-height: 1;
    padding: 12px 18px;
}

button[type="submit"]:hover {
    background-color: #dc6520;
}

.color_brown{
    color: #d17627;
}
.color_brown_ul{
    color: #d17627;
}
#recent-comments li p{
    display: inline;
}

/*Author container*/
#author-container {
    display: inline-block;
    width: 29%;
    margin-bottom: 30px;
    vertical-align: top;
    font-family: sans-serif;
    font-size: 1rem;
}

#author-img {
    max-width: 60px;
    border-radius: 50%;
    margin-right: 1rem;
    margin-bottom: 1rem;
    vertical-align: middle;
}

#author-name {
    display: block;
    margin-bottom: 1rem;
}

#author-container .slash {
    display: none;
}

#author-container a {
    color: #3c5349;
    text-decoration: none;
}

#author-container a:hover {
    color: #dc6520;
    text-decoration: underline;
}


/*Social media icons*/
#social{
    display: block;
    position: fixed;
    top: 170px;
    left: 0px;
}
#social a{
    display: block;
}

.social-img{
    height: 40px;
    width: 40px;
}
#facebook img{
    background-color: #3b5998;
}
#facebook img:hover{
    background-color: #2d4373;
}
#linkedin img{
    background-color: #0077b5;
}
#linkedin img:hover{
    background-color: #00121c;
}
#twitter img{
    background-color: #83c3f3;
}
#twitter img:hover{
    background-color: #55acee;
}
#gmail img{
    background-color: #dd4b39;
}
#gmail img:hover{
    background-color: #c23321;
}
#whatsapp img{
    background-color: #6ba92f;
}
#whatsapp img:hover{
    background-color: #528124;
}
#mail img{
    background-color: #ed4926;
}
#mail img:hover{
    background-color: #cf3311;
}